<div class="wrapper theme-5-active pimary-color-green">
    <!-- Top Menu Items -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="mobile-only-brand pull-left">
            <div class="nav-header pull-left">
                <div class="logo-wrap">
                    <a ng-href="/app/">
                        <img class="brand-img" src="/static/app/img/logo.png" alt="Shekels"/>
                        <span class="brand-text">Shekels</span>
                    </a>
                </div>
            </div>
            <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
        </div>
    </nav>
    <!-- /Top Menu Items -->
    <!-- Left Sidebar Menu -->
    <ng-include src="'/static/app/templates/menu.html'"></ng-include>
    <!-- /Left Sidebar Menu -->
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mt-40">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Month Projection</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div id="month_projection" class="morris-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-40">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Year Projection</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div id="year_projection" class="morris-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="tablesaw table mt-20">
                    <thead>
                        <tr>
                            <th scope="col" colspan="5" data-tablesaw-sortable-col data-tablesaw-priority="persist">Entries</th>
                            <th scope="col">Balance</th>
                            <th scope="col">+Credit&nbsp;(${{user.credit|format_money}})</th>
                            <th scope="col">+Savings&nbsp;(${{user.savings|format_money}})</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in entries" class="{{e|colored_today}}">
                            <td>
                                <span class="label label-{{e.balance < 0 ? 'danger' : 'success'}}">{{e.day|format_day}}</span>
                            </td>
                            <td ng-repeat="r in e.records" style="width: 25%" data-day="{{e.day}}">
                                <input class="comment entry mb-10" placeholder="Description here" value="{{r.comment}}" ng-blur="saveEntry($event, 0)" />
                                <input placeholder="$0.00" data-id="{{r.id}}" data-order="{{r.order}}" value="{{r.value}}" class="money entry entries text-{{r.naked_value >= 0 ? 'success' : 'danger'}} text-semibold" type="text" ng-blur="saveEntry($event, 1)" />
                            </td>
                            <td align="center">
                                <span class="text-{{e.balance < 0 ? 'danger' : 'success'}} text-semibold">
                                    ${{e.balance}}
                                </span>
                            </td>
                            <td align="center">
                                <span class="text-{{e.credit < 0 ? 'danger' : 'success'}} text-semibold">
                                    ${{e.credit}}
                                </span>
                            </td>
                            <td align="center">
                                <span class="text-{{e.savings < 0 ? 'danger' : 'success'}} text-semibold">
                                    ${{e.savings}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Footer -->
        <ng-include src="'/static/app/templates/footer.html'"></ng-include>
        <!-- /Footer -->
    </div>
    <!-- /Main Content -->
</div>
<!-- /#wrapper -->
