<div class="wrapper pa-0">
    <header class="sp-header">
        <div class="sp-logo-wrap pull-left">
            <a ng-href="/">
                <img class="brand-img mr-10" src="/static/app/img/logo.png" alt="Shekels"/>
                <span class="brand-text">Shekels</span>
            </a>
        </div>
        <div class="form-group mb-0 pull-right">
            <span class="inline-block pr-10">Don't have an account?</span>
            <a class="inline-block btn btn-success  btn-rounded btn-outline" ng-href="/app/sign-up">Sign Up</a>
        </div>
        <div class="clearfix"></div>
    </header>
    <!-- Main Content -->
    <div class="page-wrapper pa-0 ma-0 auth-page">
        <div class="container-fluid">
            <!-- Row -->
            <div class="table-struct full-width full-height">
                <div class="table-cell vertical-align-middle auth-form-wrap">
                    <div class="auth-form  ml-auto mr-auto no-float">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="mb-30">
                                    <h3 class="text-center txt-dark mb-10">Log in</h3>
                                </div>
                                <div class="form-wrap">
                                    <form>
                                        <div class="form-group">
                                            <label class="control-label mb-10">Email address</label>
                                            <input type="email" class="form-control" required placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label class="pull-left control-label mb-10">Password</label>
                                            <!-- <a class="capitalize-font txt-primary block mb-10 pull-right font-12" ng-href="/app/forgot-password">Forgot password ?</a> -->
                                            <div class="clearfix"></div>
                                            <input type="password" class="form-control" required placeholder="Password">
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-success  btn-rounded">Log in</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>
    </div>
    <!-- /Main Content -->
</div>
<!-- /#wrapper -->
